<% if @thrills %>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Jouw thrills
			</div>

			<div class="panel-body">

				<% @thrills.each do |thrill| %>
				<% if thrill.present? %>
					<div class="row">

						<div class="col-md-7">
							<%= thrill.thrilldate.strftime("%a %e %b '%y") %> <%= thrill.thrillhr %>:<%= thrill.thrillmin %>
						</div>
						<div class="col-md-3 right">
							<span class="pull-right">
								<%= link_to "Delete", [@training,thrill] , method: :delete, data: {confirm: "Zeker weten?"} %>
							</span>
						</div>

					</div>
					<hr>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
